body {
    background-color: rgb(255, 241, 54);
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    flex-direction: column;
    align-items: center;
    h1 {
        text-orientation: upright;
        writing-mode: vertical-lr;
    }
}

.page1 {
    min-height: 100vh;
    .top, .bottom {
        display: grid;
        gap: 16px;
        min-height: 50vh;
    }
}

.top {
    .tahini-chickpeas {
        grid-column: span 4;
    }
    
    .body-text {
        grid-column: span 7;
    }
}

.bottom {
    .page1-photo {
        grid-column: span 5;
    }

    .body-text2 {
        grid-column: span 6;
    }
}