body {
    background-color: rgb(255, 241, 54);
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

/* 
----------------------------------------------------
----------------------- HEADER ---------------------
----------------------------------------------------
 */
  
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 7px;
    background-color: black;
    color: white;
    border-bottom: 7px solid rgb(255, 241, 54);
    h1 {
      font-family: 'Jockey One', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin: 0;
    }
}

/* 
----------------------------------------------------
----------------------- PAGE 1 ---------------------
----------------------------------------------------
 */

.page1 {
    grid-column: span 4;
    background-color: black;
    font-family: 'Jockey One', sans-serif;

    .body-text {
      color: rgb(0, 255, 57)
    }

    .body-text2 {
      background-color: white;
      color: rgb(172, 118, 255);
    }
}

.page1-heading_container {
    text-transform: uppercase;
    position: relative;
    min-width: 300px;
    min-height: 300px;

    .page1-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 100px;
    }

    .drizzle, .chickpeas {
        position: absolute;
    }

    .drizzle {
        color: rgb(172, 118, 255);
        font-size: 2rem;
        letter-spacing: 0.055rem;
        top: 88px;
        right: 2px;
    }
    
    .tahini {
        color: rgb(0, 255, 57);
        font-size: 5.5rem;
    }

    .chickpeas {
        color: rgb(255, 241, 54);
        font-size: 2rem;
        letter-spacing: 0.055rem;
        left: 12px;
        bottom: -6px;
        z-index: -1;
    }
}

/* 
----------------------------------------------------
----------------------- PAGE 2 ---------------------
----------------------------------------------------
 */


