body {
    background-color: rgb(255, 242, 54);
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

html {
    scroll-behavior: smooth;
}

/* 
----------------------------------------------------
----------------------- HEADER ---------------------
----------------------------------------------------
 */
  
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border-bottom: 7px solid rgb(255, 242, 54);
    z-index: 1;

    h1 {
      font-family: 'Jockey One', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1rem;
      margin: 0;
      padding-left: 15px;
    }
}

.burger-button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 2;
    pointer-events: none;
}

.burger-button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 4px;
}

.input-burger-menu {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: 0;
}

input:checked + .burger-menu .burger-button span {
    position: absolute;
    transition: all 0.3s ease-in-out;
}

input:checked + .burger-menu .burger-button span:nth-child(2){
    opacity: 0;
}

input:checked + .burger-menu .burger-button span:nth-child(1){
    transform: rotate(45deg);
}

input:checked + .burger-menu .burger-button span:nth-child(3){
    transform: rotate(-45deg);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(170, 117, 255);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
}

input:checked + .burger-menu nav {
    visibility: visible;
    opacity: 1;
}

.purple-menu_container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.purple-menu_content {
    font-family: 'Jockey One', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}


/* 
----------------------------------------------------
----------------------- PAGE 1 ---------------------
----------------------------------------------------
 */

.page1 {
    grid-column: span 4;
    background-color: black;
    font-family: 'Jockey One', sans-serif;

    .body-text {
      color: rgb(0, 255, 56);
      font-size: 1.3rem;
      line-height: 1.5;
      text-align: justify;
      padding: 20px;
    }

    .page1-photo {
        padding: 40px;
        display: flex;
        justify-content: center;
        position: relative;

        .salad-arrow {
            transform: rotate(90deg);
            height: 2.6rem;
            width: 2.6rem;
            position: absolute;
            bottom: 25px;
            left: 100px;
        }
    }
    

    .body-text2 {
      background-color: white;
      color: rgb(170, 117, 255);
      font-size: 1.3rem;
      line-height: 1.5;
      text-align: justify;
      padding: 20px 13px 13px 13px;
      border-left: solid 7px rgb(255, 242, 54);
      border-right: solid 7px rgb(255, 242, 54);
    }
}

.page1-heading_container {
    text-transform: uppercase;
    position: relative;
    min-width: 300px;
    min-height: 300px;

    .page1-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 100px;
    }

    .drizzle, .chickpeas {
        position: absolute;
    }

    .drizzle {
        color: rgb(170, 117, 255);
        font-size: 2.5rem;
        letter-spacing: 0.055rem;
        top: 85px;
        right: 3px;
    }
    
    .tahini {
        color: rgb(0, 255, 56);
        font-size: 6.8rem;
    }

    .chickpeas {
        color: rgb(255, 242, 54);
        font-size: 2.5rem;
        letter-spacing: 0.055rem;
        left: 16px;
        bottom: -6px;
        z-index: -1;
    }
}

.explore-menu_container {
    background-color: white;
    border-left: solid 7px rgb(255, 242, 54);
    border-right: solid 7px rgb(255, 242, 54);
    padding-bottom: 20px;
    
    .explore-menu_button {
        text-transform: uppercase;
        font-size: 1.5rem;
        background: transparent;
        border: none;
        padding: 10px;
        display: flex;
        justify-content: end;
        position: relative;
        right: 20px;
       
        .explore-arrow {
            transform: rotate(90deg);
        }
    }
}


/* 
----------------------------------------------------
----------------------- PAGE 2 ---------------------
----------------------------------------------------
 */

#page2 {
    grid-column: span 4;
    margin: 7px;
}

.menu-list > li {
    font-size: 0;
    margin-top: 10px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
}

.menu-item,
.menu-price {
    font-size: 1rem;
    font-size: 1.5rem;
    font-family: 'Jockey One';
    text-transform: uppercase;
}

.menu-price {
    float: right;
}

.menu-descr {
    display: none;
}

.menu-descr_mobile {
    display: block;
    background-color: white;
    font-family: 'Roboto Condensed';
    text-transform: initial;
    font-size: 0.9rem;
    padding-top: 5px;
}

.new-item_background,
.vegan-item_background,
.popular-item_background {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    bottom: 7px;
}

.new-item_background {
    background-color: rgb(170, 117, 255);
    padding: 0 7px;
    display: inline-block;
    transform: rotate(3deg);
    .new-item_text {
        display: block;
        transform: rotate(-3deg);
    }
}

.vegan-item_background {
    background-color: rgb(0, 255, 56);
    padding: 0 6px;
    display: inline-block;
    transform: rotate(-5deg);
    .vegan-item_text {
        display: block;
        transform: rotate(5deg);
    }
}

.popular-item_background {
    background-color: rgb(255, 242, 54);
    display: inline-block;
    padding-right: 1.5px;
    transform: rotate(-2deg);
    .popular-item_text {
        display: block;
        transform: rotate(2deg);
    }
}

/* 
----------------------------------------------------
----------------------- PAGE 3 ---------------------
----------------------------------------------------
 */

.page3 {
    grid-column: span 4;
    background-color: rgb(0, 255, 56);
    border-top: 14px solid white;
    padding-bottom: 30px;
}

h3 {
    font-family: 'Jockey One';
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
}

form {
    font-family: 'Jockey One';
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.input_container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 7px 20px 7px 20px;
}

span > input {
    border-radius: 11px;
    border: none;
}

.date-input {
    width: 217px;
    text-align: center;
}

.cancel-button {
    background-color: rgb(170, 117, 255);
    text-transform: uppercase;
    padding: 2px 20px 2px 20px;
}

.request-button {
    background-color: rgb(255, 242, 54);
    text-transform: uppercase;
    padding: 2px 20px 2px 20px;
}

.contact-info {
    min-height: 300px;
    min-width: 300px;
    position: relative;

}

.contact-info .contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/Users/fannyestrom/Documents/fed23d-html-css-inlamningsuppgift-2-fannyestrom/assets/photos/ronan-kruithof-PCE0T5i4pDI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
}

.contact-info .contact-list_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Jockey One';
    font-size: 1.5rem;
    color: rgb(40, 188, 234);
    text-shadow: 2px 2px black;
}

.contact-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.icon-text_container {
    display: flex;
    padding: 10px;
}
