body {
    background-color: rgb(255, 241, 54);
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 7px;
    background-color: black;
    color: white;
    border-bottom: 7px solid rgb(255, 241, 54);
    h1 {
      font-family: 'Jockey One', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin: 0;
    }
}
  
.page1 {
    grid-column: span 4;
    background-color: black;
    color: white;
    font-family: 'Jockey One', sans-serif;
    padding-top: 300px;

    .top, .bottom {
        grid-column: span 4;
    }

    .body-text {
      color: rgb(0, 255, 57)
    }

    .body-text2 {
      background-color: white;
      color: rgb(172, 118, 255);
    }
}

.tahini-chickpeas {
    .tahini {
        grid: span 2;
        color: rgb(0, 255, 57);
        font-size: 6rem;
        text-transform: uppercase;
        position: absolute;
        top: 7rem;
        z-index: 10;
    }
    
    .drizzle {
        color: rgb(172, 118, 255);
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        position: absolute;
        top: 6.1rem;
        
        
    }

    .chickpeas {
        color: rgb(255, 241, 54);
        font-size: 2.2rem;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        top: 11.7rem;
       
    }
}



