main {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 16px;
}


/* 
----------------------------------------------------
----------------------- page 1 ---------------------
----------------------------------------------------
 */

.page1 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 16px;
}

.top {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-column: span 8;
    gap: 16px;
    row-gap: 0;

    .page1-heading-container {
        grid-column: span 8;
    }

    .body-text {
        grid-column: span 8;
        padding-bottom: 50px;
    }
}

.bottom {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-column: span 8;
    gap: 16px;
    row-gap: 0;

    .lettuce-image {
        grid-column: span 4;
        background-image: url('../assets/photos/mae-mu-hugb85v0J04-unsplash.jpg');
        background-size: cover;
        height: 400px;
        position: relative;   

        .lettuce-arrow {
            transform: rotate(90deg);
            position: absolute;
            bottom: 10px;
            left: 8px;
        }
    }

    .body-text2 {
        grid-column: 5 / 9;
    }

    .explore-menu-container {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        gap: 16px;
        grid-column: 5 / 9;
        display: flex;
        justify-content: end;
        padding: 0;
        max-height: 2rem;

        .explore-menu-button {
            text-decoration: none;
            font-size: 2rem;
            position: relative;
            bottom: 2rem;

            .explore-arrow {
                position: relative;
                left: 0.27rem;
                bottom: 0.08rem;
                height: 50px;
                width: 40px;
            }

        }

        .explore-menu-button:visited {
            color: black;
        }
    }
}


/* 
----------------------------------------------------
----------------------- page 2 ---------------------
----------------------------------------------------
 */

 #page2 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 16px;
    margin: 7px;

    .food-menu {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 16px;
        grid-column: span 8;
    }
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-column: span 8;
    gap: 16px;
    row-gap: 0;
}

.page2-image1-mobile {
    grid-column: span 8;
}

.page2-image2-mobile {
    grid-column: span 8;
}

.page2-image3-mobile {
    grid-column: span 8;
}

.menu-list > li {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-column: span 8;
    gap: 16px;
    row-gap: 0;

    .menu-item {
        grid-column: span 6;
        font-size: 2rem;
    }

    .menu-price {
        grid-column: 8;
        font-size: 2rem;
    }

    .menu-descr-mobile {
        grid-column: span 6;
        font-size: 1.1rem;
    }

    .new-item-background,
    .vegan-item-background,
    .popular-item-background {
        font-size: 1rem;
    }

    .new-item-background {
        position: relative;
        left: 15px;
    }

    .vegan-item-background {
        position: relative;
        left: 8px;
    }

    .popular-item-background {
        position: relative;
        left: 15px;
    }
}


/* 
----------------------------------------------------
----------------------- page 3 ---------------------
----------------------------------------------------
 */

 .page3 {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 16px;
}

/*---------------------- form --------------------*/

form {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 16px;
    font-size: 2.2rem;

    h3 {
        grid-column: span 8;
        font-size: 4rem;
    }
}

.input-container {
    grid-column: 2 / 8;
    display: flex;
    justify-content: space-between;
}

span > input {
    border-radius: 21px;
    border: none;
}

.date-input {
    width: 20.4rem;
    text-align: center;
    font-size: 1.5rem;
}

.cancel-button {
    border-radius: 18px;
    font-size: 2.2rem;
    padding: 0 70px 0 70px;
}

.request-button {
    border-radius: 18px;
    font-size: 2.2rem;
    padding: 0 70px 0 70px;
}


/*---------------------- contact info --------------------*/

.contact-info {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 16px;
    min-height: 450px;
    min-width: 450px;

    .contact-list-container {
        font-size: 2rem;
    }
}


/*---------------------- cookie bar --------------------*/

.cookie-bar {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 16px;
    font-size: 1.2rem;

    .cookie-text {
        position: relative;
        left: 15px;
        top: 0;
        font-size: 1.3rem;
    }

    span {
        grid-column: 1 / 5;
        position: relative;
        top: 7px;
    }

    .cookie-buttons {
        grid-column: 5 / 9;
        display: flex;
        justify-content: end;

        .decline-button {
            font-size: 1.8rem;
            padding: 3px 53px 3px 53px;
            border-radius: 14px;
            position: relative;
            bottom: 8px
        }

        .accept-button {
            font-size: 1.8rem;
            padding: 3px 53px 3px 53px;
            border-radius: 14px;
            position: relative;
            bottom: 8px
        }

    }
}
