@import 'vendor/normalize';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import 'mobile';

@media screen and (min-width: 640px) {
  @import 'tablet';
}

@media screen and (min-width: 1280px) {
  @import 'desktop';
}

